<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QRPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QRPrint.Properties.Settings>
            <setting name="Checker" serializeAs="String">
                <value />
            </setting>
            <setting name="Target_num" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="No" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_test_day" serializeAs="String">
                <value />
            </setting>
            <setting name="Finished_num" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Print_num" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="No_0" serializeAs="String">
                <value />
            </setting>
        </QRPrint.Properties.Settings>
    </userSettings>
</configuration>